* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #fff5f9;
}

header nav {
  background-color: #ff8001;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

h1 {
  font-size: 35px;
  font-weight: 700px;
  letter-spacing: 1px;
  color: whitesmoke;
}

header nav form {
  display: flex;
  justify-content: center;
}

form input[type="text"] {
  flex-grow: 1;
  margin-right: 15px;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
}

form button[type="submit"] {
  background-color: #fff5f9;
  color: black;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 50px;
}

form button[type="submit"]:hover {
  background-color: #f46416;
}

/* main section */
.recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  width: 80%;
}

h2 {
  font-size: 50px;
  text-align: center;
}

/*  recipe cards */

.recipe {
  background-color: #d1d5de;
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 6px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  max-width: 350px;
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  margin-bottom: 50px;
}

.recipe:hover {
  transform: scale(1.05);
}

.recipe img {
  height: 300px;
  border-radius: 6px;
}

.recipe h3 {
  margin: 10px 0;
  text-align: center;
  font-size: 22px;
  white-space: nowrap;
  width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px;
}

.recipe p {
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
}

.view-recipe {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600px;
  margin: 18px auto;
  background-color: #f46416;
  color: #fff;
}

.view-recipe:hover {
  background-color: #ff8c42;
}

/*responsive*/
@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
  }

  header nav form {
    width: 80%;
    margin-top: 20px;
  }
}
@media (max-width: 350px) {
  h2 {
    font-size: 35px;
  }
}
